@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.main-section {
  margin-top: 200px;
}
.main-paragraph {
  font-size: 100px;
  font-family: "Inter", sans-serif;
}
.bg-bluedark {
  background-color: rgba(0, 0, 79, 0.5);
}
.jp-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100px;
}
body {
  background-image: url(https://images5.alphacoders.com/737/thumb-1920-737385.jpg);
  color: white;
}
footer {
  margin-top: 300px;
}
